<!--
Author: Darren Daly
Version: 1.0
-->
<%= form_for(@filmtext) do |f| %>
  <% if @filmtext.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@filmtext.errors.count, "error") %> prohibited this filmtext from being saved:</h2>

      <ul>
      <% @filmtext.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
