<!--
Author: Darren Daly
Version: 1.0
-->
<p id="notice"><%= notice %></p>

<p>
  <strong>Address:</strong>
  <%= @store.address %>
</p>

<p>
  <strong>Last update:</strong>
  <%= @store.last_update %>
</p>

<%= link_to 'Edit', edit_store_path(@store) %> |
<%= link_to 'Back', stores_path %>
