<h1>Index page</h1>
<ul>
<li><%= link_to 'Actors', actors_path %></li>
<li><%= link_to 'Addresses', addresses_path %></li>
<li><%= link_to 'Categories', categories_path %></li>
<li><%= link_to 'Cities', cities_path %></li>
<li><%= link_to 'Countries', countries_path %></li>
<li><%= link_to 'Customers', customers_path %></li>
<li><%= link_to 'Film Texts', filmtexts_path %></li>
<li><%= link_to 'Films', films_path %></li>
<li><%= link_to 'Inventories', inventories_path %></li>
<li><%= link_to 'Languages', languages_path %></li>
<li><%= link_to 'Payments', payments_path %></li>
<li><%= link_to 'Rentals', rentals_path %></li>
<li><%= link_to 'Staffs', staffs_path %></li>
<li><%= link_to 'Stores', stores_path %></li>
</ul>

