<!--
Author: Darren Daly
Version: 1.0
-->
<p id="notice"><%= notice %></p>

<p>
  <strong>Store:</strong>
  <%= @customer.store %>
</p>

<p>
  <strong>First name:</strong>
  <%= @customer.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @customer.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @customer.email %>
</p>

<p>
  <strong>Address:</strong>
  <%= @customer.address %>
</p>

<p>
  <strong>Active:</strong>
  <%= @customer.active %>
</p>

<p>
  <strong>Create date:</strong>
  <%= @customer.create_date %>
</p>

<p>
  <strong>Last update:</strong>
  <%= @customer.last_update %>
</p>

<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>
