<%= form_for(@film) do |f| %>
  <% if @film.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@film.errors.count, "error") %> prohibited this film from being saved:</h2>

      <ul>
      <% @film.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :release_year %><br>
    <%= f.number_field :release_year %>
  </div>
  <div class="field">
    <%= f.label :language_id %><br>
    <%= f.text_field :language_id %>
  </div>
  <div class="field">
    <%= f.label :rental_duration %><br>
    <%= f.number_field :rental_duration %>
  </div>
  <div class="field">
    <%= f.label :rental_rate %><br>
    <%= f.text_field :rental_rate %>
  </div>
  <div class="field">
    <%= f.label :length %><br>
    <%= f.number_field :length %>
  </div>
  <div class="field">
    <%= f.label :replacement_cost %><br>
    <%= f.text_field :replacement_cost %>
  </div>
  <div class="field">
    <%= f.label :rating %><br>
    <%= f.text_field :rating %>
  </div>
  <div class="field">
    <%= f.label :special_features %><br>
    <%= f.text_field :special_features %>
  </div>
  <div class="field">
    <%= f.label :last_update %><br>
    <%= f.datetime_select :last_update %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
