<!--
Author: Darren Daly
Version: 1.0
-->
<%= form_for(@payment) do |f| %>
  <% if @payment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@payment.errors.count, "error") %> prohibited this payment from being saved:</h2>

      <ul>
      <% @payment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :customer_id %><br>
    <%= f.text_field :customer_id %>
  </div>
  <div class="field">
    <%= f.label :staff_id %><br>
    <%= f.text_field :staff_id %>
  </div>
  <div class="field">
    <%= f.label :rental_id %><br>
    <%= f.text_field :rental_id %>
  </div>
  <div class="field">
    <%= f.label :amount %><br>
    <%= f.text_field :amount %>
  </div>
  <div class="field">
    <%= f.label :payment_date %><br>
    <%= f.datetime_select :payment_date %>
  </div>
  <div class="field">
    <%= f.label :last_update %><br>
    <%= f.datetime_select :last_update %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
