<p id="notice"><%= notice %></p>

<p>
  <strong>City:</strong>
  <%= @city.city %>
</p>

<p>
  <strong>Country:</strong>
  <%= @city.country %>
</p>

<p>
  <strong>Last update:</strong>
  <%= @city.last_update %>
</p>

<%= link_to 'Edit', edit_city_path(@city) %> |
<%= link_to 'Back', cities_path %>
